.carrito{
    &:hover{
        cursor: pointer;
    }
    &-logo{
        font-size: 25px;
        color: white;
    }
    &-cantidad{
        color: white;
        height: 20px;
        width: 20px;
        background-color: red;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}