@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Mukta:wght@300&display=swap');


.fondo{
    font-family: 'Mukta', sans-serif;
    background-color: #28282B;
}

.subtitulo{
    font-size: 33px;
    font-weight: 500;
    margin-top: 35px;
    color: #eb820f;
    border-bottom: 2px solid black;
}