.card {
    margin: auto auto;
    border-radius: 10px;
    height: 500px;
    padding: 0;
    background-color: white;
    margin: 8px;
    background: #28282B;
    box-shadow:  11px 11px 22px #1c1c1f,
            -11px -11px 22px #343437;
    &-body{
        background-color: white;
        border-radius: 0 0 10px 10px;
    }
    &-imagen{
        overflow: hidden;
        border-radius: 10px 10px 0 0;
    }
    &-boton{
        
        height: auto;
    }
}
